<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ebay delivery</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body>

<div id="loading" class="flex items-center justify-center w-full h-full fixed bg-gray-400 bg-opacity-50 hidden">
    <div class="flex justify-center items-center space-x-1 text-2xl text-gray-700">
        <svg fill='none' class="w-6 h-6 animate-spin" viewBox="0 0 32 32" xmlns='http://www.w3.org/2000/svg'>
            <path clip-rule='evenodd'
                  d='M15.165 8.53a.5.5 0 01-.404.58A7 7 0 1023 16a.5.5 0 011 0 8 8 0 11-9.416-7.874.5.5 0 01.58.404z'
                  fill='currentColor' fill-rule='evenodd' />
        </svg>


        <div>Loading ...</div>
    </div>
</div>

<div class="w-11/12 lg:max-w-7xl m-auto pt-10 lg:pt-5 text-xl lg:text-sm" id="container">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/EBay_logo.svg/1200px-EBay_logo.svg.png" alt="ebay logo" width="250" >
<div class=" w-full bg-white py-10 px-5 m-auto mt-10 border-2 text-gray-600">
    <h2 class="float-left w-full font-bold mb-4 text-3xl lg:text-xl" > Post to me</h2>

    <form class="w-full flex justify-between flex-col lg:flex-row" id="shipping_cost" @submit.prevent="processForm" >
        <div class="grid grid grid-cols-1 lg:grid-cols-2 mr-4 md:mr-6">
            <label class="float-left" for="pickup_postcode">Pickup Postcode</label>
            <input required class="border border-gray-500" type="text" id="pickup_postcode" v-model="pickup_postcode">
        </div>
        <div class="grid grid grid-cols-1 lg:grid-cols-2 mr-4 md:mr-6">
            <label class="float-left" for="delivery_postcode">Delivery Postcode</label>
            <input required  class="border border-gray-500" type="text" id="delivery_postcode" v-model="delivery_postcode">
        </div>
        <div class="grid grid grid-cols-1 lg:grid-cols-2 mr-4 md:mr-6">
            <label class="float-left" for="vehicle_options">Vehicle</label>
            <select v-model="vehicle" id="vehicle_options" class="float-left border border-gray-500" required >
                <option th:each="vehicle : ${vehicle_options}"
                         th:value="${vehicle}" th:text="${vehicle}" th:selected="${vehicle==vehicle_options[2]}"></option>
            </select>
        </div>
        <div class="">
            <input class="border border-gray-200 text-sm text-blue-700 p-1 rounded-sm shadow-md hover:border-gray-400" type="submit" value="Get rates">
        </div>
    </form>
        <table class="table-fixed w-full my-6 border-b border-gray-400 text-left">
            <thead class="bg-gray-200 border-b border-gray-400">
                <tr>
                    <th>Price</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="price_table">0</td>
                    <td id="from_table"></td>
                    <td id="to_table"></td>
                </tr>
            </tbody>
        </table>
    <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3 hidden" role="alert" id="result">
        <p class="text-sm">A delivery from <span id="from"></span> to <span id="to"></span> using a <span id="vehicle"></span> will cost you £<span id="price"></span>.</p>
    </div>
</div>
</div>
</body>

<script>

    const app = new Vue({

        el: '#shipping_cost',
        data: {
            pickup_postcode: '',
            delivery_postcode: '',
            vehicle: ''
        },
        methods: {
            processForm:function () {
                document.getElementById("loading").classList.remove("hidden");
                document.getElementById("container").setAttribute("disabled", "");
                let pickup_postcode = this.pickup_postcode.valueOf();
                let delivery_postcode = this.delivery_postcode.valueOf();
                let vehicle = this.vehicle.valueOf();
                const body = {
                    pickupPostcode: pickup_postcode, deliveryPostcode: delivery_postcode,
                    vehicle: vehicle
                };
                let config = {
                        "Content-Type": "application/json",
                }

                axios.post("/quote", body,{
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (response){
                    document.getElementById("loading").classList.add("hidden");
                    document.getElementById("container").removeAttribute("disabled");
                    // console.log(response.data);
                    this.price = response.data.price;
                    document.getElementById("result").classList.remove("hidden");
                    document.getElementById("price").textContent = price;
                    document.getElementById("from").textContent = pickup_postcode;
                    document.getElementById("to").textContent = delivery_postcode;
                    document.getElementById("price_table").textContent = price;
                    document.getElementById("from_table").textContent = pickup_postcode;
                    document.getElementById("to_table").textContent = delivery_postcode;
                    document.getElementById("vehicle").textContent = vehicle;
                })

            }
        }
    });
</script>
</html>